body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: bisque
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}
#about img {
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    background: #555;
    color: white;
    padding: 10px;
    margin: 5px;
}

.project {
    margin: 20px auto;
    max-width: 500px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

#resume a {
    text-decoration: none;
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#contact p {
    font-size: 18px;
    margin: 5px;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}